In [1]:
import xarray as xr
import glob
import numpy as np
import pandas as pd

In [2]:
var_path = '/user/work/al18709/tc_data_var'
mswep_path = '/user/work/al18709/tc_data_mswep'
mswep_2_path = '/user/work/al18709/tc_data_mswep_TS'

In [3]:
X_var = np.load(var_path + '/train_X.npy')
X_mswep = np.load(mswep_path + '/train_X.npy')
X_mswep_2 = np.load(mswep_2_path + '/train_X.npy')

In [4]:
print(X_var.shape)
print(X_mswep.shape)

(38364, 10, 10)
(48750, 10, 10)

In [5]:
meta_var = pd.read_csv(var_path + '/train_meta.csv')
meta_mswep = pd.read_csv(mswep_path + '/train_meta.csv')
meta_mswep_2 = pd.read_csv(mswep_2_path + '/train_meta.csv')

In [6]:
meta_mswep = meta_mswep[['sid','centre_lat','centre_lon']].drop_duplicates()
meta_var = meta_var[['sid','centre_lat','centre_lon']].drop_duplicates()
idx_drop_duplicates = meta_var.index

# print(idx)
# cut down X so it alligns with meta
# X = X[idx_drop_duplicates,:,:]

print(meta_var)
print(meta_mswep)

                 sid  centre_lat  centre_lon
0      1978361N02180     4.66607    169.2190
1      1978361N02180     4.94467    168.9660
2      1978361N02180     5.20000    168.7000
3      1978361N02180     5.43944    168.4060
4      1978361N02180     5.67043    168.1280
...              ...         ...         ...
38359          NAMED    36.20000    -68.5000
38360          NAMED    37.00000    -67.0000
38361          NAMED    37.56150    -66.6954
38362          NAMED    38.20000    -66.5000
38363          NAMED    40.46750    -65.2217

[38364 rows x 3 columns]
                 sid  centre_lat  centre_lon
0      1978361N02180     4.66607    169.2190
1      1978361N02180     4.66607    169.2190
2      1978361N02180     4.94467    168.9660
3      1978361N02180     4.94467    168.9660
4      1978361N02180     5.20000    168.7000
...              ...         ...         ...
48745          NAMED    40.46750    -65.2217
48746          NAMED    41.60000    -64.7000
48747          NAMED    42.85090    -64.0665
48748          NAMED    44.00000    -63.6000
48749          NAMED    44.96400    -63.3638

[48750 rows x 3 columns]

In [10]:

def compare(df1,df2,col='Exist'):
	""" add column to df1 and if row exists in df2 then put true"""
	df = pd.merge(df1, df2, on=['sid','centre_lat','centre_lon'], how='left', indicator=col)
	return df
	# df['Exist'] = np.where(df.Exist == 'both', True, False)
# df = compare(meta_var,meta_mswep)
df = compare(meta_mswep,meta_var)
print(df)
print(np.sum(df['Exist']=='both'))

# meta_var and X need to match up exactly with meta_mswep
idx_intersection = df['Exist']=='both'
intersection = df[idx_intersection]
df2 = intersection.sort_values(by=['sid','centre_lat'], ascending = [True, True])

idx_sort = df2.index.to_list()

# X = X[idx_sort,:,:]

                 sid  centre_lat  centre_lon      Exist
0      1978361N02180     4.66607    169.2190  left_only
1      1978361N02180     4.66607    169.2190       both
2      1978361N02180     4.94467    168.9660  left_only
3      1978361N02180     4.94467    168.9660       both
4      1978361N02180     5.20000    168.7000       both
...              ...         ...         ...        ...
48745          NAMED    40.46750    -65.2217       both
48746          NAMED    41.60000    -64.7000  left_only
48747          NAMED    42.85090    -64.0665  left_only
48748          NAMED    44.00000    -63.6000  left_only
48749          NAMED    44.96400    -63.3638  left_only

[48750 rows x 4 columns]
38364

In [49]:
meta_mswep = meta_mswep.round(4).drop_duplicates()
meta_var = meta_var.round(4).drop_duplicates()
# print(meta_mswep)
# print(meta_var)
print(meta_mswep[(meta_mswep['sid'] != "NAMED")])
print(meta_var[(meta_var['sid'] != "NAMED")])
# print(meta_mswep.values[0])
# print(meta_mswep.values[1])

# print(meta_mswep.round(4))

                 sid  centre_lat  centre_lon
0      1978361N02180      4.6661    169.2190
2      1978361N02180      4.9447    168.9660
4      1978361N02180      5.2000    168.7000
5      1978361N02180      5.4394    168.4060
7      1978361N02180      5.6704    168.1280
...              ...         ...         ...
48514  2020318N16289     13.7499    -86.1924
48515  2020318N16289     13.7925    -74.2925
48516  2020318N16289     13.8000    -86.7000
48517  2020318N16289     13.8000    -87.8000
48518  2020318N16289     13.8149    -87.2350

[46315 rows x 3 columns]
                 sid  centre_lat  centre_lon
0      1978361N02180      4.6661    169.2190
1      1978361N02180      4.9447    168.9660
2      1978361N02180      5.2000    168.7000
3      1978361N02180      5.4394    168.4060
4      1978361N02180      5.6704    168.1280
...              ...         ...         ...
38158  2020318N16289     13.3000    -75.0000
38159  2020318N16289     13.6000    -74.5000
38160  2020318N16289     13.6000    -83.0000
38161  2020318N16289     13.6000    -83.5000
38162  2020318N16289     13.6924    -85.1925

[38163 rows x 3 columns]

In [131]:
var_sids = meta_var.sid.drop_duplicates()
mswep_sids = meta_mswep.sid.drop_duplicates()

In [132]:

print(mswep_sids)
print(var_sids)
# print(sum(var_sids == mswep_sids))
# print(len(var_sids))
# print(len(mswep_sids))

0        1978361N02180
98       1979042S05170
262      1979066S15124
310      1979077N07150
340      1979152N11265
             ...
46352    2020276N17277
46372    2020279N16284
46406    2020299N18277
46437    2020318N16289
46469            NAMED
Name: sid, Length: 1002, dtype: object
0        1978361N02180
97       1979042S05170
259      1979066S15124
310      1979077N07150
340      1979152N11265
             ...
48716    2020276N17277
48737    2020279N16284
48772    2020299N18277
48804    2020318N16289
48837            NAMED
Name: sid, Length: 1002, dtype: object

In [140]:
lats = []
lons = []
for SID in mswep_sids:

	var_lats = meta_var[meta_var.sid == SID].centre_lat
	mswep_lats = meta_mswep[meta_mswep.sid == SID].centre_lat
	var_lons = meta_var[meta_var.sid == SID].centre_lon
	mswep_lons = meta_mswep[meta_mswep.sid == SID].centre_lon
	
	# if len(var_lats.isin(mswep_lats)) == len(mswep_lats):
	# 	lats.append(True)
	# else:
	# 	lats.append(False)
	
	# if len(var_lons.isin(mswep_lons)) == len(mswep_lons):
	# 	lons.append(True)
	# else:
	# 	lons.append(False)

	if len(mswep_lats.isin(var_lats)) == len(var_lats):
		lats.append(True)
	else:
		lats.append(False)
	
	if len(mswep_lons.isin(var_lons)) == len(var_lons):
		lons.append(True)
	else:
		lons.append(False)
	# all mswep values are in the var dataset
	# but not all of the var values are in the mswep dataset
	# so we should take only the var values in the mswep dataset and drop the others for now
	# break

In [141]:

print(lats)
print(np.sum(lats))

[False, False, False, True, True, True, False, True, False, False, False, False, False, True, False, True, False, False, False, False, True, True, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, True, False, True, False, False, False, False, True, True, True, True, True, True, False, False, False, False, False, True, False, False, False, False, True, True, False, False, True, False, True, False, True, True, True, True, False, False, False, False, True, True, True, False, False, True, True, False, False, False, True, False, True, True, False, False, False, True, True, False, True, False, False, False, False, False, True, False, True, True, False, True, True, True, False, False, False, True, False, False, True, False, False, False, False, False, True, True, True, True, False, False, False, False, True, False, False, True, False, True, True, False, False, False, True, False, True, True, False, False, False, False, False, False, False, True, True, True, False, False, False, False, True, True, True, True, True, True, True, True, True, False, False, False, True, True, False, True, True, True, False, True, False, False, False, False, True, True, False, False, False, True, False, True, True, True, True, False, True, False, True, False, True, True, False, False, True, False, True, True, False, False, False, True, True, False, False, True, False, False, False, True, False, False, True, True, True, True, False, True, False, True, True, True, False, True, False, False, True, False, True, False, True, True, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, True, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, False, False, True, False, False, False, False, True, False, False, True, False, False, False, False, True, True, False, False, False, False, False, False, False, False, False, True, False, True, False, False, True, False, False, False, False, True, True, True, False, False, True, False, False, False, False, True, True, True, False, True, False, False, True, True, False, True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, True, True, False, True, True, False, False, False, False, False, False, False, False, True, True, False, True, True, False, True, False, False, False, True, True, True, False, True, False, False, False, False, False, False, False, False, True, True, False, False, False, False, True, False, True, False, False, True, True, True, False, False, False, False, False, False, False, True, False, False, True, True, True, True, False, False, False, False, False, True, True, False, True, False, False, False, False, False, False, False, True, False, True, True, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, True, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, True, False, True, False, False, False, True, False, False, True, False, False, True, False, False, True, False, False, False, False, True, False, True, True, False, False, False, True, False, False, False, True, False, True, False, False, False, True, False, False, True, True, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, True, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, True, False, True, False, False, False, True, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, False, False, False, False, True, True, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, False, True, True, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, True, False, False, True, False, False, False, False, True, False, False, False, False, True, True, False, False, True, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, False, False, False, False, False, True, True, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, True, False, True, False, False, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, True, True, True, False, False, False, False, False, True, False, False, False, True, True, False, False, False, False, False, False, False]
268

In [ ]:
# var has 97813 in /user/work/al18709/tropical_cyclones/var
# mswep has 179712 in /user/work/al18709/tropical_cyclones/mswep

# var has 3774 storms in /user/work/al18709/tc_Xy_var
# mswep has 5610 storms in /user/work/al18709/tc_Xy



# also changed from 0 to 00 so run var again from scratch