In [1]:
# import modules
import glob
import pandas as pd
from netCDF4 import Dataset
import numpy as np

In [2]:
# open csv file
ibtracks = pd.read_csv('/user/work/al18709/ibtracks/ibtracs.ALL.list.v04r00.csv',
						usecols=['SID','LAT','LON','BASIN','NAME','SEASON', 'NATURE','ISO_TIME','USA_SSHS'],
						parse_dates = ['ISO_TIME'],keep_default_na=False)

/user/home/al18709/.conda/envs/aquatic/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1,8,9,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
# tidy up columns with multiple dtypes
ibtracks = ibtracks.iloc[1: , :]
ibtracks = ibtracks.replace(' ', np.nan)
ibtracks['USA_SSHS'] = pd.to_numeric(ibtracks['USA_SSHS'])
ibtracks['SEASON'] = pd.to_numeric(ibtracks['SEASON'])

In [21]:
# subset storms since 2000
ibtracks = ibtracks[ibtracks['SEASON'] >= 1979] #TODO: change so doesn't include 1999
# select tropical storms that reach TS strength
ibtracks = ibtracks[ibtracks['NATURE'] == 'TS']
# select only storms that strengthen to TC strength at any point
TCs = ibtracks[ibtracks['USA_SSHS'] >= 1]['SID']
TCs = TCs.drop_duplicates()
# reference ibtracks with TCs
inner_join = pd.merge(ibtracks, 
                      TCs, 
                      on ='SID', 
                      how ='inner')

In [25]:
# print(TCs)
print(inner_join)

                  SID  SEASON BASIN   NAME             ISO_TIME NATURE  \
0       1978361N02180    1979    WP  ALICE  1978-12-31 06:00:00     TS
1       1978361N02180    1979    WP  ALICE  1978-12-31 09:00:00     TS
2       1978361N02180    1979    WP  ALICE  1978-12-31 12:00:00     TS
3       1978361N02180    1979    WP  ALICE  1978-12-31 15:00:00     TS
4       1978361N02180    1979    WP  ALICE  1978-12-31 18:00:00     TS
...               ...     ...   ...    ...                  ...    ...
134395  2021236N12296    2021    NA    IDA  2021-08-28 12:00:00     TS
134396  2021236N12296    2021    NA    IDA  2021-08-28 15:00:00     TS
134397  2021236N12296    2021    NA    IDA  2021-08-28 18:00:00     TS
134398  2021236N12296    2021    NA    IDA  2021-08-28 21:00:00     TS
134399  2021236N12296    2021    NA    IDA  2021-08-29 00:00:00     TS

            LAT      LON  USA_SSHS
0       1.95404  172.542      -1.0
1       2.02942  172.303      -1.0
2        2.0875  171.975      -1.0
3       2.16935  171.695      -1.0
4       2.29725  171.437      -1.0
...         ...      ...       ...
134395     24.4    -85.7       1.0
134396  24.9848 -86.1577       1.0
134397     25.6    -86.6       2.0
134398  26.1678 -87.0468       2.0
134399     26.7    -87.5       2.0

[134400 rows x 9 columns]

In [26]:
print(ibtracks)

                  SID  SEASON BASIN       NAME             ISO_TIME NATURE  \
415770  1978324S10097    1979    SI  NOT_NAMED  1978-11-19 12:00:00     TS
415771  1978324S10097    1979    SI  NOT_NAMED  1978-11-19 15:00:00     TS
415772  1978324S10097    1979    SI  NOT_NAMED  1978-11-19 18:00:00     TS
415773  1978324S10097    1979    SI  NOT_NAMED  1978-11-19 21:00:00     TS
415774  1978324S10097    1979    SI  NOT_NAMED  1978-11-20 00:00:00     TS
...               ...     ...   ...        ...                  ...    ...
699909  2021236N12296    2021    NA        IDA  2021-08-28 12:00:00     TS
699910  2021236N12296    2021    NA        IDA  2021-08-28 15:00:00     TS
699911  2021236N12296    2021    NA        IDA  2021-08-28 18:00:00     TS
699912  2021236N12296    2021    NA        IDA  2021-08-28 21:00:00     TS
699913  2021236N12296    2021    NA        IDA  2021-08-29 00:00:00     TS

            LAT      LON  USA_SSHS
415770    -10.2     97.0      -1.0
415771 -10.3518  96.9062      -1.0
415772 -10.5129  96.7707       0.0
415773  -10.705  96.5511       0.0
415774    -11.0     96.2       0.0
...         ...      ...       ...
699909     24.4    -85.7       1.0
699910  24.9848 -86.1577       1.0
699911     25.6    -86.6       2.0
699912  26.1678 -87.0468       2.0
699913     26.7    -87.5       2.0

[215797 rows x 9 columns]

In [34]:
sids = inner_join['SID']
sids = inner_join[inner_join['USA_SSHS'] >= 1]['SID']
sids = sids.drop_duplicates()
print(sids)
print(TCs)

42        1978361N02180
154       1979002S04179
233       1979042S05170
573       1979043S11161
692       1979066S15124
              ...
134161    2021221N11266
134264    2021222N12339
134336    2021226N38295
134372    2021235N12269
134389    2021236N12296
Name: SID, Length: 1894, dtype: object
416293    1978361N02180
416490    1979002S04179
417149    1979042S05170
417490    1979043S11161
417724    1979066S15124
              ...
699299    2021221N11266
699465    2021222N12339
699662    2021226N38295
699843    2021235N12269
699903    2021236N12296
Name: SID, Length: 1894, dtype: object